/*!
 * FlagWaver
 * @author krikienoid / https://github.com/krikienoid
 */

/* //// Normalize //// */

@import "~normalize-css/normalize";

/* //// Reset //// */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* //// Layout //// */

/* Main */

html,
body,
.wrapper-page,
.page-main,
.js-flag-canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html,
body {
    background-color: #fff;
}


/* //// Background Image //// */

.bg-sky {
    background-attachment: fixed;
    background-color: #566c73;
    background-image: url("../img/Sky_over_Washington_Monument-480x640px.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 480px) {
    .bg-sky {
        background-image: url("../img/Sky_over_Washington_Monument-800x600px.jpg");
    }
}

@media only screen and (min-width: 800px) {
    .bg-sky {
        background-image: url("../img/Sky_over_Washington_Monument-1600x1200px.jpg");
    }
}
